body
{
    margin: 0;
    /* 主体格式 */
    background-color: #c1d9e7;
}
a{
    color:gray;
    /* 超链接字体颜色 */
    text-decoration:none;  /*超链接无下划线*/
}
.header
{
    margin: 20px auto 60px auto;
    /* 外边距 */
    height: 250px;     
}
.inner
{
    width:1000px;
    margin-left:auto;
    margin-right: auto;
}
.cunt1{
    height: 250px;
    /* 背景颜色 */
    background-color: rgb(230, 170, 170);
}
.nav{
    height: 35px;
    background-color:white;
    /* 外边距 */
    margin: 0 auto 20px auto;
    /* 文本对齐方式 */
    text-align: center;
}
.count
{
    height: 400px;
}
.count1-1{
    width: 390px;
    float: left;
}
.count1-2{
    width: 590px;
    float: right;
}
.count1-1-1{
    /* 边框格式，粗细，虚线 */
    border: 2px dotted rgb(230, 170, 170);
    height: 100px;
    background-color:white;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.count1-1-2{
    border: 2px dotted rgb(230, 170, 170);
    height: 275px;
    background-color:white;
    margin-right: 20px;
    /* 内边距 */
    padding-left: 10px;
}
.count1-2-1{
    height:400px;
    background-color:white;
}
.foot{
    height: 30px;
    width: 1000px;
    margin: 20px auto 30px auto;
    background-color:rgb(230, 170, 170);
}
#img{
        /* 背景图片，不重复，位置为中间靠下 */
    background: url(images/3.jpg) no-repeat center bottom;
}
.cunt1-1
{   height: 150px;
    width: 1000px;
    /* 框内文字居中对齐 */
    text-align: center;
}
.cunt1-2
{   height: 150px;
    width: 1000px;
    text-align: center;
}
p{
    margin: 10px 10px auto 10px;
    font-size: 20px;
    /* 字体样式，粗细，颜色 */
    font-family: "SimSun";
    font-weight: bold;
    color:gray;
}
.name1{
    color:white;
}
.word{
    margin: 10px auto auto auto;
     /* 字体样式，粗细，颜色 */
    font-size: 15px;
    font-family: "SimSun";
    color: #faf9f8;
}
.nav1{
    margin: 10px 15px auto 15px;
     /* 字体样式，粗细，颜色 */
    font-size: 20px;
    font-family: "Microsoft YaHei";
    color:gray;
}
.words
{
    color: gray;
}
.word1{
     /* 字体样式，粗细，颜色 */
    font-size: 15px;
    font-family: "SimSun";
    color: gray;
    line-height: 2;
    font-weight: bold;
}
li{
    /* 列表的格式 */
    list-style: none;
}
.count1-2-1-img{
    height: 45px;
    background: url(images/body.jpg) repeat-x ;
    background-color: rgb(230, 170, 170);
}
.time{
    background-color: rgb(230, 170, 170);
    color: rgb(59, 32, 32);
}