body
{
    margin: 0;
    background-color: #c1d9e7;  /*主体的格式，背景蓝色，边框为0*/
}
a{
    color:gray;
    text-decoration:none;  /*超链接无下划线*/
}
.header
{
    /* 首部的格式 */
    margin: 20px auto 60px auto;
    height: 250px;     
}
.inner
{
    /* 共有区域的格式 */
    width:1000px;
    margin-left:auto;
    margin-right: auto;
}
.cunt1{
    height: 250px;
    background-color: rgb(230, 170, 170); /*背景颜色*/
}
.nav{
    height: 35px;
    background-color:white;
    /* 外边距 */
    margin: 0 auto 20px auto;
    /* 文本对齐方式 */
    text-align: right;
}
.count
{
    height: 400px;
}
.count1-1{
    width: 390px;
    /* 流体，靠左 */
    float: left;
}
.count1-2{
    width: 590px;
    /* 靠右，为给中间留空隙 */
    float: right;
}
.count1-1-1{
    /* 边框样式，虚线，粉红色 */
    border: 2px dotted rgb(230, 170, 170);
    height: 170px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* 插入背景图片，不重复，靠左对齐*/
    background: url(images/7.jpg) no-repeat left ;
}
.count1-1-2{
    border: 2px dotted rgb(230, 170, 170);
    height: 205px;
    background-color:white;
    margin-right: 20px;
}
.count1-2-1{
    height:400px;
    background-color:white;
}
.foot{
    height: 30px;
    width: 1000px;
    margin: 20px auto 30px auto;
    background-color:rgb(230, 170, 170);
}
#img{
    /* 背景图片，不重复，位置为中间靠下 */
    background: url(images/3.jpg) no-repeat center bottom;
}
.image{
    margin: 10px 10px 10px 10px;
    height:100px;
    width: 150px;
    float: left;
    background: url(images/1.jpg) no-repeat left ;
}
.cunt1-1
{   height: 150px;
    width: 1000px;
    text-align: center;
}
.cunt1-2
{   height: 150px;
    width: 1000px;
    text-align: center;
}
p{
    margin: 10px 10px auto 10px;
     /* 字体大小，字粗细和字体颜色灰色 */
    font-size: 20px;
    font-family: "SimSun";
    font-weight: bold;
    color:gray;
}
.name1{
    color:white;
}
.word{
    margin: 10px auto auto auto;
    font-size: 15px;
    font-family: "SimSun";
    color: #faf9f8;
}
.nav1{
    margin: 10px 15px auto 15px;
    /* 字体大小，样式，字粗细和字体颜色灰色 */
    font-size: 15px;
    font-family: "Microsoft YaHei";
    color:gray;
}
.words
{
    color: gray;
    text-align: center;
    
}
.word1{
     /* 字体大小，样式，字粗细和字体颜色灰色 */
    font-size: 15px;
    font-family: "SimSun";
    color: gray;
    line-height: 2;
    font-weight: bold;
}
li{
    /* 消除列表样式 */
    list-style: none;
}
.count1-2-1-img{
    height: 45px;
    /* 插入背景图片，在X轴重复 */
    background: url(images/body.jpg) repeat-x ;
    background-color: rgb(230, 170, 170);
}
.time{
    background-color: rgb(230, 170, 170);
    color: rgb(59, 32, 32);
}